.checkout-btn {
    z-index: 1;
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #A5F951;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.checkout-btn:hover {
    background-color: #5fa11d;
}