.cart-items-wrapper {
    background: #F3F3F3;
    color: #000000;
    overflow-y: auto;
    flex-grow: 1;
    padding: 20px;
}

.cart-items-wrapper::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, and Opera */
}

.cart-item {
    background-color: #f5f5f5;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px auto;
    width: 80%;
    position: relative;
}

.cart-item img {
    width: 50px;
    height: auto;
    margin-right: 20px;
}

.cart-item-details {
    flex-grow: 1;
}

.cart-item-details h4 {
    margin: 0;
    font-size: 12px;
    font-weight:500
}

.cart-item-details p {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
}

.cart-item-details .quantity-input {
    margin-top: 10px;
}

.remove-item-btn {
    position: absolute;
    top: -10px;
    /* Adjust the top position as needed */
    right: -10px;
    /* Adjust the right position as needed */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    /* Adjust the width as needed */
    height: 20px;
    /* Adjust the height as needed */
    border-radius: 50%;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    z-index: 1;
    /* Ensure the button appears above the image */
}

.remove-item-btn:hover {
    background-color: #f44336;
}

.remove-item-btn:focus {
    outline: none;
}

.remove-item-btn i {
    font-size: 12px;
}

/* css for modal */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
}

.close-modal-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #A5F951;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.close-modal-btn:hover {
    background-color: #5fa11d;
}


.quantity-input-container {
    display: flex;
    align-items: center;
}

.quantity-input {
    display: inline-block;
    padding: 5px 10px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}

.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background-color: #ccc;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 5px;
}

.arrow:hover {
    background-color: #999;
}

.arrow i {
    font-size: 12px;
}