@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600&display=swap');
*{
  font-family: Montserrat;
}
/* App.css */
.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content-container {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  overflow: hidden;
}



.navbar {
  display: flex;
  align-items: center;
  background-color: #505050;
  color: #fff;
  height: 50px;
  padding: 0px 30px;
}



.itemlist-container {
  flex: 3;
  margin: 20px 0px;
}

.cart-summary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.summary-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.summary-row .item-price-small {
  font-weight: bold;
  color: #f44336;
  margin-left: 5px;
  font-size: 13px;
  width: 100px;
  text-align: right;
}



.item-price-large {
  margin-left: 5px;
  font-size: 24px;
  width: 100px;
  text-align: center;
  font-weight: bold;
  color: #f44336;
  text-align: right;
}


.item-price-small {
  font-weight: bold;
  color: #f44336;
  margin-left: 5px;
  font-size: 13px;
  width: 100px;
}

/* cart items */

.sidebar {
  flex: 1;
  max-width: 200px;
  background-color: #F3F3F3;
}

.cart-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  height: 80px;
}

.clear-cart-btn {
  display: block;
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.clear-cart-btn:hover {
  background-color: #c82333;
}


.remove-item-btn {
  position: absolute;
  top: -3px;
  left: -3px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
}

.remove-item-btn:hover {
  background-color: darkred;
}

.remove-item-btn:focus {
  outline: none;
}

.remove-item-btn i {
  font-size: 12px;
}

.cart-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #F3F3F3;
}

.cart-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #CBCBCB;
  padding: 0 20px;
  height: 80px;
  display: flex;
  align-items: center;
}

.cart-checkout-summary {
  background: #CBCBCB;
  padding: 20px;
  align-items: center;
}

.sort-btn {
  cursor: pointer;
  padding: 0 30px;
}

.sort-btn:hover {
  text-decoration: underline;
}

.sort-btn.ascending:hover {
  color: green;
}

.sort-btn.descending:hover {
  color: red;
}

.clear-cart-button {
  padding: 8px 16px;
  background-color: #f44336;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.clear-cart-button:hover {
  background-color: #d32f2f;
}

.clear-cart-button:focus {
  outline: none;
}